.card-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 2em 6em;
    padding: 2em;
    border-radius: 10px;
    border: 2px solid #808080;
    border-bottom: 3px solid #808080;
}

.div-horario {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        height: 2em;
    }

    label {
        padding: 0 0.5em;
        color: #808080;
    }
}

.div-pergunta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #808080;
    margin-bottom: 1em;
    
    label {
        padding: 1em;
        color: #808080;
        font-size: 1.5em;
    }
}

.div-turnos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div-turno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    width: 100%;
    border-bottom: 1px solid #808080;

    label {
        font-size: 1.2em;
        color: #808080;
    }
}

.div-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #333333; 
        outline: none;
        margin-right: 8px;
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"]:checked {
        background-color: #333333;
        border-color: #333333;
    }

    input[type="checkbox"]:checked::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background-color: white;
        border-radius: 50%;
    }
}

.div-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 1em;
    width: 100%;

    label {
        font-size: 1.2em;
        color: #333333;
    }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 1em;
        height: 1em;
        border: 2px solid #333333; 
        outline: none;
        margin-right: 8px;
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"]:checked {
        background-color: #333333;
        border-color: #333333;
    }

    input[type="checkbox"]:checked::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.5em;
        height: 0.5em;
        background-color: white;
    }
}

.div-fechadas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    button {
        width: 20em;
        height: 2.5em;
        margin: 2em 2em 0 0;
        border-radius: 10px;
        font-size: 2em;
        color: #333333;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
    }

    button:active {
        background-color: #2FC022;
        border: none;
        color: #FFF;
        transition: none;
    }
}

.botao-principal {
    background-color: #FFB612;
    border: none;
}

.botao-principal:hover {
    background-color: #FFF;
    border: 3px solid #FFB612;
}

.botao-secundario {
    background-color: #FFF;
    border: 3px solid #808080;
}

.botao-secundario:hover {
    background-color: #808080;
    border: none;
}

@media screen and (max-width: 768px) {
    .card-form {
        margin: 2em 1.5em;
    }
    
    .div-pergunta {
        label {
            padding: 0.5em;
        }
    }
    
    .div-linha {
        flex-direction: column;
        height: 4em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    
    .div-botoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    
        button {
            width: 14em;
            height: 2.5em;
            margin: 1em;
            border-radius: 10px;
            font-size: 1.5em;
            color: #333333;
            font-weight: bold;
        }
    }
    
    .botao-principal {
        background-color: #FFB612;
        border: none;
    }
    
    .botao-secundario {
        background-color: #FFF;
        border: 3px solid #808080;
    }
}