<div class="div-card-legend">
    <div class="div-element">
        <label class="titulo">Máscara</label>
        <div class="div-imagens">
            <div class="div-imagem">
                <img src="/assets/images/required-mask.png" alt="required-mask">
                <label>Obrigatório</label>
            </div>
            <div class="div-imagem">
                <img src="/assets/images/recommended-mask.png" alt="recommended-mask">
                <label>Recomendado</label>
            </div>
        </div>
    </div>
    <div class="div-element">
        <label class="titulo">Toalha</label>
        <div class="div-imagens">
            <div class="div-imagem">
                <img src="/assets/images/required-towel.png" alt="required-towel">
                <label>Obrigatório</label>
            </div>
            <div class="div-imagem">
                <img src="/assets/images/recommended-towel.png" alt="recommended-towel">
                <label>Recomendado</label>
            </div>
        </div>
    </div>
    <div class="div-element">
        <label class="titulo">Bebedouro</label>
        <div class="div-imagens">
            <div class="div-imagem">
                <img src="/assets/images/partial-fountain.png" alt="partial-fountain">
                <label>Parcial</label>
            </div>
            <div class="div-imagem">
                <img src="/assets/images/forbidden-fountain.png" alt="forbidden-fountain">
                <label>Proibido</label>
            </div>
        </div>
    </div>
    <div class="div-element">
        <label class="titulo">Vestiários</label>
        <div class="div-imagens">
            <div class="div-imagem">
                <img src="/assets/images/required-lockerroom.png" alt="required-lockerroom">
                <label>Liberado</label>
            </div>
            <div class="div-imagem">
                <img src="/assets/images/partial-lockerroom.png" alt="partial-lockerroom">
                <label>Parcial</label>
            </div>
            <div class="div-imagem">
                <img src="/assets/images/forbidden-lockerroom.png" alt="forbidden-lockerroom">
                <label>Fechado</label>
            </div>
        </div>
    </div>
</div>